@font-face {
  font-family: Titulo;
  src: url(../fontes/ANODETONOONE.TTF);
}

h1 {
  font-family: Titulo;
  font-size: 40px;
  color: #603a03;
}
/* background before start a game */

body {
  background-image: url(../imgs/background.jpg);
}

#container {
  width: 950px;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#backgroundGame {
  width: 950px;
  height: 630px;
  background-image: url(../imgs/background_game.jpg);
  border-color: #fff;
  border-style: solid;
}

#player {
  width: 200px;
  height: 66px;
  position: absolute;
  left: 8px;
  top: 179px;
  background-image: url(../imgs/helicopter.png);
}

#enemyOne {
  width: 256px;
  height: 66px;
  position: absolute;
  left: 689px;
  top: 253px;
  background-image: url(../imgs/enemyOne.png);
}

#enemyTwo {
  width: 165px;
  height: 70px;
  position: absolute;
  left: 775px;
  top: 447px;
  background-image: url(../imgs/enemyTwo.png);
}

#ally {
  width: 44px;
  height: 51px;
  position: absolute;
  left: 10px;
  top: 464px;
  background-image: url(../imgs/ally.png);
}
/* Start Msg style */

#msgStart {
  width: 350px;
  height: 250px;
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}

/* Sections Animations */

/* Rotate helicopter propeller */
.animationOne {
  background-image: url(../imgs/helicopter.png);

  /* Start  Animation */
  animation: play 0.5s steps(2) infinite;

  /* Arguments in steps is a frame 
	and  name play is not a reserved to apply style is only name anyone */

  /* if don't work in your  browser use this: */

  -webkit-animation: play 0.5s steps(2) infinite;
  -moz-animation: play 0.5s steps(2) infinite;
  -ms-animation: play 0.5s steps(2) infinite;
  -o-animation: play 0.5s steps(2) infinite;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-webkit-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-moz-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-ms-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

@-o-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -512px;
  }
}

/* Rotate helicopter propeller animation image file */
.animationTwo {
  background-image: url(../imgs/enemyOne.png);
  animation: play 0.5s steps(2) infinite;
  -webkit-animation: play 0.5s steps(2) infinite;
  -moz-animation: play 0.5s steps(2) infinite;
  -ms-animation: play 0.5s steps(2) infinite;
  -o-animation: play 0.5s steps(2) infinite;
}

/* animation image file ally */

.animationThree {
  background-image: url(../imgs/ally.png);
  animation: play2 0.9s steps(12) infinite;
  -webkit-animation: play2 0.9s steps(12) infinite;
  -moz-animation: play2 0.9s steps(12) infinite;
  -ms-animation: play2 0.9s steps(12) infinite;
  -o-animation: play2 0.9s steps(12) infinite;
}

/* animations frames */

@keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-webkit-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-moz-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-ms-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

@-o-keyframes play2 {
  from {
    background-position: 0px;
  }
  to {
    background-position: -528px;
  }
}

/* Shoot load files styled and position */

#shoot {
  width: 50px;
  height: 8px;
  position: absolute;
  background-image: url(../imgs/shoot.png);
}
/* Explosion load files styled and position */

#explosionOne {
  width: 15px;
  height: 87px;
  position: absolute;
}

#explosionTwo {
  width: 15px;
  height: 87px;
  position: absolute;
}

/* dead ally animation */

#explosionThree {
  width: 44px;
  height: 51px;
  position: absolute;
}

.animationFour {
  width: 44px;
  height: 51px;
  background-image: url(../imgs/dead.png);
  animation: deadAlly 0.5s steps(7) infinite;
  -webkit-animation: deadAlly 0.5s steps(7) infinite;
  -moz-animation: deadAlly 0.5s steps(7) infinite;
  -ms-animation: deadAlly 0.5s steps(7) infinite;
  -o-animation: deadAlly 0.5s steps(7) infinite;
}

@keyframes deadAlly {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-webkit-keyframes deadAlly {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-moz-keyframes deadAlly {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-ms-keyframes deadAlly {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

@-o-keyframes deadAlly {
  from {
    background-position: 0px;
  }
  to {
    background-position: -308px;
  }
}

#score {
  width: 400px;
  height: 50px;
  position: absolute;
  left: 5px;
  margin-left: 20px;
  top: 560px;
}

h2 {
  font-family: Titulo;
  font-size: 20px;
  color: #fff;
}

/* Energy bar */
#energy {
  width: 140px;
  height: 38px;
  position: absolute;
  left: 750px;
  top: 7px;
}

/* End Game */

h3 {
  font-family: Titulo;
  font-size: 20px;
  color: #603a03;
}

#end {
  width: 350px;
  height: 250px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}
